<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header_menu">
            <div class="ooredoo_logo">
                <img src="../../../assets/images/logo.png">
            </div>
            <div class="ooredoo_menu">
                <ul>
                    <li>
                        <a href="#"> <img width="20px" src="../../../assets/images/home.svg"> <span
                                class="icon_home">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="#"><img width="20px" src="../../../assets/images/monitor.svg"><span
                                class="icon_monitor">Monitoring</span></a>
                    </li>
                    <li>
                        <a href="#"><img width="20px" src="../../../assets/images/monitor (2).svg"><span
                                class="icon_monitor">Analytics</span></a>
                    </li>
                    <li>
                        <a href="#"><img width="20px" src="../../../assets/images/analytics.svg"><span
                                class="icon_monitor">Reports</span></a>
                    </li>
                    <li>
                        <a href="#"><img width="20px" src="../../../assets/images/bell.svg"><span
                                class="icon_monitor">Alarms</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="user_profile">
            <div class="user_logo">
                <img src="../../../assets/images/profile.PNG">
                <span>Admin</span>
            </div>
        </div>
    </header>

    <main>
        <div class="genrator_cards">
            <div class="total_genrater_card">
                <img src="../../../assets/images/genrator_logo.PNG">
                <div>
                <p>TOTAL GENERATER</p>
                <p>200</p>
            </div>
            </div>
            <div class="total_genrater_card">
                <img src="../../../assets/images/on_logo.PNG">
                <p>ON GENERATER</p>
                <p>180</p>
            </div>
            <div class="total_genrater_card">
                <img src="../../../assets/images/off_genrate_logo.PNG">
                <p>OFF GENERATER</p>
                <p>20</p>
            </div>
        </div>

        <div class="map">

        </div>

        <section>
            <div>
                <div class="filters">
                    <div class="search_bar">

                    </div>
                    <div class="devices_filter">

                    </div>
                </div>
                <div class="genrator_status_menu">
                    <div class="genrator_id">

                    </div>
                    <div class="status">

                    </div>
                    <div class="active_alarm">

                    </div>
                    <div class="running">

                    </div>
                    <div class="last_message">

                    </div>
                    <div class="fuel_volume">

                    </div>
                    <div class="view_button">

                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="recent_tabel">
        <p>Recent alarms</p>
        <div class="search_bar">

        </div>
        <div class="download_button">

        </div>

        <div class="alarm_tabel">
            <table>
                <tr>
                    <td>ALARM ID</td>
                    <td>DATE AND TIME</td>
                    <td>GENERATOR ID</td>
                    <td>PARAMETER</td>
                    <td>VALUE</td>
                    <td>ALARM TYPE</td>
                    <td>MANUAL CLOSE</td>
                </tr>
                <tr>
                    <td>ALARM ID</td>
                    <td>DATE AND TIME</td>
                    <td>GENERATOR ID</td>
                    <td>PARAMETER</td>
                    <td>VALUE</td>
                    <td>ALARM TYPE</td>
                    <td>MANUAL CLOSE</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>