@import "../../../assets/partial/color_variables.scss";

.container {
    width: 100%;
    background-color: $background-1;
}

.container_main {
    width: 100%;
}

header {
    padding: 20px;
    background-color: $background-2;
    position: relative;
}

main {
    background-color: $background-2;
    width: 100%;
    display: flex;
    margin: 20px 0;

    .container_main {
        width: 65%;

        .genrator_cards {
            display: flex;
            flex-wrap: wrap;

            .total_genrater_card {
                display: flex;
                align-items: center;
                padding: 2px 70px 2px 5px;
                margin: 20px;
                border: 1px solid $border-1;
                font-weight: 600;
                color: $text-color-4;
                box-shadow: 1px 1px 1px 1px$box-shadow;
                flex: 1;

                p {
                    padding-bottom: 5px;
                }
            }
        }
    }

    section {
        width: 35%;
        padding: 15px 0 15px 15px;
        .filters {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .overflow_handler {
            height: calc(100vh - -90px);
            overflow: auto;
            padding: 20px 0;
            min-height: 847px;
            margin-top: 20px;
        }
    }
}

.recent_table {
    display: flex;
    flex-direction: column;
    padding: 12px;

    h3 {
        padding: 0 12px;
    }

    .tabel_title {
        display: flex;
        justify-content: space-between;
        background-color: $background-2;
        align-items: center;

        .tabel_download_search {
            display: flex;
            padding: 12px;
            align-items: center;

            button {
                background-color: $background-5;
                padding: 7px 20px;
                color: $text-color-1;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                img {
                    padding-right: 5px;
                }
            }
        }
    }
}

input:focus {
    outline: none;
}

.search_bar {
    position: relative;
    margin: 10px;
    display: flex;
    align-items: center;
    input[type="text"] {
        padding: 10px 15px 10px 50px;
        font-size: 17px;
        border: none;
        background-color: $background-10;
    }

    img {
        position: absolute;
        left: 19px;
        top: 11px;
    }
}

.device_dropdown {
    position: relative;
    padding: 10px 11px 10px 11px;
    margin: 10px;
    width: 140px;
    height: 40px;
    font-size: 17px;
    border: none;
    background-color: $background-10;

    img {
        position: absolute;
        right: 21px;
        top: 8px;
    }
}



.menu_responsive {
    display: none;
}

@media only screen and (max-width: 800px) {
    main {
        flex-direction: column;
        .container_main {
            width: 100%;
        }
        section {
            width: 100%;
        }
    }
}
