<div class="genrator_oprations" *ngFor="let item of [1, 2, 3, 4]">
    <div class="genrator_status_menu">
        <div class="genrator_id genrator_status">
            <img width="18px" height="18px" src="../../../assets/images/setting.PNG">
            <div class="genrator_content">
                <p class="fade_text">Generater Id</p>
                <p class="dark_text">NHT87898</p>
            </div>
        </div>
        <div class="status genrator_status">
            <img width="18px" height="18px" src="../../../assets/images/shield.PNG">
            <div class="genrator_content status">
                <p class="fade_text">Status</p>
                <p class="dark_text">On</p>
            </div>
        </div>
    </div>
    <div class="genrator_status_menu">
        <div class="active_alarm genrator_status">
            <img width="18px" height="18px" src="../../../assets/images/setting.PNG">
            <div class="genrator_content">
                <p class="fade_text">Active Alarm</p>
                <p class="green_text">Yes</p>
            </div>
        </div>
        <div class="running genrator_status">
            <img width="18px" height="22px" src="../../../assets/images/wave.PNG">
            <div class="genrator_content">
                <p class="fade_text">Running</p>
                <p class="dark_text">yes</p>
            </div>
        </div>
    </div>
    <div class="genrator_status_menu">
        <div class="last_message genrator_status">
            <img width="18px" height="22px" src="../../../assets/images/message.PNG">
            <div class="genrator_content">
                <p class="fade_text">Last message read</p>
                <p class="dark_text">20th sep 10:05 AM</p>
            </div>
        </div>
    </div>
    <div class="genrator_status_menu">
        <div class="fuel_volume genrator_status">
            <img width="18px" height="22px" src="../../../assets/images/drop.PNG">
            <div class="genrator_content">
                <p class="fade_text">Fuel Volume</p>
                <p class="dark_text">30%</p>
            </div>
        </div>
        <div class="view_button">
            <button>View</button>
        </div>
    </div>
</div>