<div class="alarm_table">
    <table>
        <thead>
            <tr>
                <th>ALARM ID</th>
                <th>DATE AND TIME</th>
                <th>GENERATOR ID</th>
                <th>PARAMETER</th>
                <th>VALUE</th>
                <th>ALARM TYPE</th>
                <th>MANUAL CLOSE</th>
            </tr>
        </thead>
        <tr>
            <td>AI-1</td>
            <td>20june 2020 10:00AM</td>
            <td>G-1</td>
            <td class="value"><img src="../../../assets/images/petrol.PNG"> <span>Fuel level</span></td>
            <td>125%</td>
            <td><button class="critical_button">
                    Critical
                </button></td>
            <td>
                <input type="radio"><span class="manual_close">Active</span>
            </td>
        </tr>
        <tr>
            <td>AI-1</td>
            <td>20june 2020 10:00AM</td>
            <td>G-2</td>
            <td class="value"><img src="../../../assets/images/engine.PNG"> <span>Engine Speed</span>
            </td>
            <td>5000 RPM</td>
            <td><button class="major_button">
                    Major
                </button></td>
            <td><i class="far fa-bell"></i><span class="manual_close">Cleared</span></td>
        </tr>
        <tr>
            <td>AI-1</td>
            <td>20june 2020 10:00AM</td>
            <td>G-3</td>
            <td class="value"><img src="../../../assets/images/oil.PNG"> <span>Fuel level</span></td>
            <td>125%</td>
            <td><button class="minor_button">
                    Minor
                </button></td>
            <td>
                <input type="radio"><span class="manual_close">Active</span>
            </td>
        </tr>
        <tr>
            <td>AI-1</td>
            <td>20june 2020 10:00AM</td>
            <td>G-1</td>
            <td class="value"><img src="../../../assets/images/petrol.PNG"> <span>Fuel level</span></td>
            <td>125%</td>
            <td><button class="critical_button">
                    Critical
                </button></td>
            <td>
                <input type="radio"><span class="manual_close">Active</span>
            </td>
        </tr>
        <tr>
            <td>AI-1</td>
            <td>20june 2020 10:00AM</td>
            <td>G-2</td>
            <td class="value"><img src="../../../assets/images/engine.PNG"> <span>Engine Speed</span>
            </td>
            <td>5000 RPM</td>
            <td><button class="major_button">
                    Major
                </button></td>
            <td><i class="far fa-bell"></i><span class="manual_close">Cleared</span>
            </td>
        </tr>
        <tr>
            <td>AI-1</td>
            <td>20june 2020 10:00AM</td>
            <td>G-3</td>
            <td class="value"><img src="../../../assets/images/oil.PNG"> <span>Fuel level</span></td>
            <td>125%</td>
            <td><button class="minor_button">
                    Minor
                </button></td>
            <td>
                <input type="radio"><span class="manual_close">Active</span>
            </td>
        </tr>
      
    </table>
            <div class="paginator_main">
                <p class="previous">Previous</p>
                <div class="paginator_circle">
                    1
                </div>
                <div class="paginator_circle">
                    2
                </div>
                <div class="paginator_circle">
                    3
                </div>
                <p>Next</p>
            </div>
</div>