@import "/src/assets/partial/color_variables.scss";

.alarm_table {
    width: 100%;
    overflow-x: auto;
    min-width: 600px;

    table {

        width: 100%;
        border-collapse: collapse;

        th, td { min-width: 200px; }

        tr {
            border-bottom: 2px solid $border-2;
        }

        th {
            padding: 20px 12px;
            text-align: start;
        }

        td {
            padding: 20px 12px;
            background-color: $background-2;
            color:$text-color-3;
            font-size: 14px;
            font-weight: 600;
            border: none;

            input[type="radio"]:checked:after {
                width: 20px;
                height: 20px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: $background-6;
                content: "";
                display: inline-block;
                visibility: visible;
                border: 4px solid $border-3;
                outline: none;
            }
        }

        .value {
            display: flex;
            align-items: center;
            img {
                padding: 0 8px;
            }
        }

        .critical_button,
        .major_button,
        .minor_button {
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
        }
        .critical_button {
            background-color: $background-7;
            color: $text-color-7;
            padding: 10px 35px;
        }

        .major_button {
            background-color: $background-8;
            color: $text-color-8;
            padding: 10px 40px;
        }

        .minor_button {
            background-color:$background-9;
            color: $text-color-9;
            padding: 10px 40px;
        }

        .manual_close {
            padding: 0 12px;
        }
    }
}